* {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
main{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: start;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    min-height: calc(100vh - 250px);
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
section{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

}
.detalhes{
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    width: 100%;
    max-width: 77rem;
    padding: 2rem 1rem;
}
.detalhes2{
    font-size: 0.875rem;
    line-height: 2rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(222, 224, 228);
    color: rgb(86, 92, 105);
}
.esta{
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 700;
}
.sub{
    font-size: inherit;
    color: inherit;
    text-decoration: none;
    margin-left: 0.25rem;
    line-height: inherit;
}
.codigo{
    line-height: 2rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: inherit;
    color: rgb(255, 0, 0);
    margin-left: 0.25rem;
}
.produto2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.5rem;
    line-height: 2.125rem;
    font-weight: 700;
    color: rgb(66, 70, 77);
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.detailsProduct{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;

}
.detailsproduct2{
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, 1fr));
    -webkit-box-pack: justify;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.ProductImg{
    position: relative;
    display: flex;
    width: 100%;
    height: 26.5rem;
}
.productimgprincipal{
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 0.5rem;
    padding: 0.5rem;
}
.figura{
    margin: 0;
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
.pcgamer{
    object-fit: contain;
    object-position: center center;
    width: 300px;
    margin-right: 400px;

}
.preçoProduto{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    margin-bottom: 4rem;
}
.blocovalores{
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 6.1875rem;
}