* {
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  font-family: 'Poppins';
  margin-left: 5rem;
  margin-right: 5rem;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
}

header .logo {
  font-family: 900 'Poppins' sans-serif;
  font-size: 32px;
}

header .logo span {
  color: #bc002e;
}

header ul {
  display: flex;
}

header ul li {
  list-style-type: none;
  padding: 0.625rem;
}

header ul li a {
  font-style: italic;
  transition: 1ms;
}

header .menu ul li a:hover {
  color: #bc002e;
}

header .menu ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #bc002e;

  /* position: absolute; */
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

header .menu ul li a:hover::after {
  width: 100%;
}

header .icon-car .icon {
  width: 2.375rem;
  height: 1.9375rem;
}
