
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
}

.banner .card img {
  height: 20rem;
  width: 100%;
  overflow: hidden;
}

.destaque .card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.destaques-dia {
  /* margin-top: 3.125rem; */
  background-color: #f3f3f3;
  display: fixed;
}

.destaques-dia .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.destaques-dia .title .background {
  border-radius: 1.5rem;
  background-color: #f3f3f3;
  width: 470px;
  margin-top: 1.25rem;
}

.destaques-dia .title .h2 {
  color: #bc002e;
  text-decoration: none;
  font-size: 2.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 900 'Poppins' sans-serif;
  font-size: 32px;
}

.destaques-dia .container {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  background-color: white;
  border-radius: 0.625rem;
  margin-top: 2.5rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.destaques-dia .img-destaque {
  /* padding: 1.875rem; */
  margin-bottom: 45px;
}
#menumobile{
  display: none;
}

@media(max-width: 320px){
  .menu{
    display: none;

  }
  .icon-car{
    width: 2%;
  }
  .icon{
    max-width:20px;
    max-height:20px;
    width:  auto;
    height: auto;
    margin-left: 10px;
    margin-top: 7px;
  }
  .menumobile{
    cursor: pointer;
  }
  .menumobile div{
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 7px;

  }
  .destaques-dia .title .h2 {
    color: #bc002e;
    text-decoration: none;
    font-size: 2.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 900 'Poppins' sans-serif;
    font-size: 22px;
  }
  .destaques-dia .img-destaque {
    /* padding: 1.875rem; */
    margin-bottom: 35px;
    width: 70%;
  }
  .destaques-dia .container {
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: white;
    border-radius: 0.625rem;
    margin-top: 2.5rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  }
  .description{
    display: none;
  }

  
}
