<!DOCTYPE html>

<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Detalhe do Produto</title>
        <link rel="stylesheet" href="../../public/style/detalhes.css">
    </head>

    <body>
        <header>
            <div>
                <h1 id="logo">LOGO</h1>
            </div>
            <div>
                <ul id="navlist">
                    <li class="navitem">Home</li>
                    <li class="navitem">Promoções</li>
                    <li class="navitem">Produtos</li>
                    <li class="navitem">Sobre</li>
                    <li class="navitem">Login</li>
                    <li class="navitem"><img src="../../public/img/cart.png" alt="carrinho" width=20></li>
                </ul>
            </div>
        </header>

        <div style="display: flex; flex-direction: row;">

            <div id="filtro">
                <h3>Filtros</h3>
            </div>

            <div style="display: flex; flex-direction:column">

                <div id="header2">
                    <div id="prodPath"><b>Você está em:</b> Computadores > Intel Core i3 > Código do Produto 077768</div>
                    <div><h1>Intel i3, GeForce RTX 2060 6Gb, 8GB DDR4, SSD 240GB</h1></div>
                </div>

                <div id="body2">
                    
                    <div id="info">
                        <div id="top">
                            <div id="marca">PICHAU</div>
                            <div id="review">
                                <div>AVALIAÇÕES</div>
                                <div><img src="../../public/img/stars.png" alt="Estrelas" width=100></div>
                            </div>
                        </div>
                        <div id="mid">
                            <img src="../../public/img/pc01.jpg" alt="Produto 077768" width=300>
                        </div>
                        <div id="bot">
                            CARROSEL
                        </div>
                    </div>

                    <div id="buyArea">
                        <div id="bbTop">
                            OFERTAS
                        </div>

                        <div id="bbBut">
                            <div class="button1"><img src="../../public/img/cart.png" alt="carrinho" width=40></div>
                            <div class="button2">Comprar</div>
                        </div>

                        <div id="bbMid">
                            Produto Disponível!
                        </div>

                        <div>
                            <ul id="bbBot">
                                <li id="p1">De R$ 3.764,00 por </li>
                                <li id="p2">R$ 2.648,00 </li>
                                <li id="p3">Em <b>10x</b> de <b>R$ 264,80</b> sem juros</li>
                                <li id="p4">R$ 2.000,00</li>
                                <li id="p5">à vista no PIX</li>
                            </ul>
                        </div>

                    </div>

                </div>
                
            </div>

        </div>

    </body>
</html>

